<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BitacoraDeBomberos.DAL.Properties.Settings.bitacora_bomberos_19comConnectionString"
            connectionString="server=localhost;user id=root;database=bitacora_bomberos_19com"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>